body, html {
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

:root {
  --charcoal-grey: #3e4247;
}

body {
  min-width: 320px;
  background: #eaebf0 url(../img/pattern.png) repeat;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.header {
  padding: 20px 0;
  background-color: #ffffff;
}

h2, p, h3, h4 {
  margin: 0;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
}

.compass-logo {
  width: 179.1px;
  height: 24px;
  object-fit: contain;
}

.header-menu {
  margin-top: 4px;
  text-align: right;
}

.header-menu_link {
  text-align: left;
  color: var(--charcoal-grey);
  margin-left: 2rem;
}

.header-menu_link:hover {
  opacity: 0.8;
}

.promo {
  background-color: #161616;
}

.compass-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
  margin: 80px 0;
}

.main {
  max-width: 790px;
  margin: 0 auto;
  padding: 5rem 0 2rem;
  text-align: center;
}

.main_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--charcoal-grey);
  text-align: center;
  padding-bottom: 8px;
}

.main_description {
  line-height: 1.5;
  text-align: center;
  color: var(--charcoal-grey);
  padding-bottom: 16px;
}

.main_btn {
  padding: 13px 0;
  text-align: center;
  background-color: #000000;
  border-radius: 2px;
  outline: none;
  border: none;
}

.main_btn:hover {
  opacity: 0.8;
}

.main_btn-link {
  color: #fff;
  padding: 13px 31px;
  line-height: 1;
}

.card:hover {
  box-shadow: 4px 2px 4px rgba(2,2,2,.2);
}

.card:last-child {
  margin-bottom: 6rem;
}

.card {
  margin: 3rem auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1184px;
}

.card-img {
  height: 350px;
  width: 484px;
}

.card-info {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  text-align: left;
  padding: 1.5rem 2rem 0 2rem;
  border-bottom: 2px solid #646971;
}

.card-info_place {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  color: #646971;
}

.card-info_title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 8px;
}

.card-info_text {
  line-height: 1.5;
  color: #3e4247;
  padding-top: 8px;
}

.footer {
   background-color: #111111;
   padding: 32px 0;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  padding-bottom: 8px;
  height: 22px;
}

.footer-contact {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  height: 22px;
  padding-top: 4px;
}

.footer-number {
  padding-top: 16px;
}

.footer-info {
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  line-height: 1.6;
  padding-top: 92px;
}

.footer-hr {
  border-top: 2px solid #3e4247;
  max-width: 172px;
  padding-top: 18px;
}

.footer-menu {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin-top: 8px;
  height: 22px;
}

.footer-menu:hover {
  opacity: 0.8;
}

.combined-shape {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  position: relative;
  left: 8px
  
}

.footer-menu_all {
  margin-top: 16px;
}