body, html {
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

:root {
  --charcoal-grey: #3e4247;
}

body {
  min-width: 320px;
  background: #eaebf0 url(../img/pattern.png) repeat;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  color: var(--charcoal-grey);
}

.header {
  padding: 1.5rem 0;
  background-color: #ffffff;
}

h1, h2, h3, h4, p {
}

.header {
  padding: 20px 0;
  background-color: #ffffff;
}

h2, p, h3, h4 {
  margin: 0;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
}

.compass-logo {
  width: 179.1px;
  height: 24px;
  object-fit: contain;
}

.header-menu {
  margin-top: 4px;
  text-align: right;
}

.header-menu_link {
  text-align: left;
  margin-left: 2rem;
  color: var(--charcoal-grey);
  color: var(--charcoal-grey);
  margin-left: 2rem;
}

.header-menu_link:hover {
  opacity: 0.8;
}

.promo {
  background-color: #161616;
}

.compass-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
  margin: 80px 0;
}

.hero-unit {
  max-width: 790px;
  margin: 0 auto;
  padding: 5rem 0 2rem;
  text-align: center;
}

.hero-unit_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--charcoal-grey);
  text-align: center;
  padding-bottom: 8px;
}

.hero-unit_description {
  line-height: 1.5;
  text-align: center;
  color: var(--charcoal-grey);
  padding-bottom: 16px;
}

.hero-unit_btn {
  padding: 13px 0;
  text-align: center;
  background-color: #000000;
  border-radius: 2px;
  outline: none;
  border: none;
}

.hero-unit_btn:hover {
  opacity: 0.8;
}

.hero-unit_btn-link {
  color: #fff;
  padding: 13px 31px;
  line-height: 1;
}

.card:hover {
  box-shadow: 4px 2px 4px rgba(2,2,2,.2);
}

.card:last-child {
  margin-bottom: 6rem;
}

.card {
  margin: 3rem auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1184px;
}

.card-img {
  height: 350px;
  width: 484px;
}

.card-info {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  text-align: left;
  padding: 1.5rem 2rem 0 2rem;
  border-bottom: 2px solid #646971;
}

.card-info_place {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  color: #646971;
}

.card-info_title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 8px;
}

.card-info_text {
  line-height: 1.5;
  color: #3e4247;
  padding-top: 8px;
}

.footer {
   background-color: #111111;
   padding: 32px 0;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  padding-bottom: 8px;
  height: 22px;
}

.footer-contact {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  height: 22px;
  padding-top: 4px;
}

.footer-number {
  padding-top: 16px;
}

.footer-info {
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  line-height: 1.6;
  padding-top: 92px;
}

.footer-hr {
  border-top: 2px solid #3e4247;
  max-width: 172px;
  padding-top: 18px;
}

.footer-menu {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin-top: 8px;
  height: 22px;
}

.footer-menu:hover {
  opacity: 0.8;
}

.combined-shape {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  position: relative;
  left: 8px
  
}

.footer-menu_all {
  margin-top: 16px;
}



/* Start Page 2 */

.subheader{
  border-top: 1px solid #eaebf0;
  background-color: #fff;
  padding: 1.5rem 0 1rem;
}

.subheader-title{
  font-size: 2rem;
  font-family: 'Philosopher', sans-serif;
  margin-bottom: .5rem;
}

.subheader-adress{
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
}

.subheader-btn{
  border: 1px solid #e0e0e1;
  border-radius: 2px;
  padding: 8px 16px;
  background-color: #fff;
  font-size: 10px;
  line-height: 1;
  font-weight: 300;
  color: #00779a;
  float: right;
}

.gallery{
  background-color: #fff;
}

.gallery-img_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  overflow-x: auto;
}

.gallery-img{
  height: 400px;
}

.gallery-btn_wrap{
  position: relative;
  top: -5rem;
}

.gallery-btn{
  border: none;
  border-radius: 2px;
  background-color: #00779a;
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: 300;
  padding: 8px 16px;
  opacity: 0.8;
}

.gallery-btn:hover{
  opacity: 1
}

.summary{
  background-color: #fff;
  padding-bottom: 4rem;

}

.summary-title{
  font-size: 1.5rem;
  font-family: 'Philosopher', sans-serif;
  margin-bottom: 1rem;
}

.summary-title_about{
  color: #a9afb6;
  font-family: 'Fira Sans', sans-serif;
  display: block;
  margin-top: 10px;
  font-weight: 300;

}

.summary-hr{
  border-top: 1px solid #e0e0e1;
  padding-top: 2rem;
}

.summary-feature_wrap{
  padding-top: 2rem;
}

.summary-feature{
  display: flex;
  margin: 4px 0;
}

.summary-feature_title {
  width: 50%;
  color: #a9afb6;
 
}

.summary-feature_amount {
  width: 50%;
  font-weight: 500;
}

.summary-description_wrap{
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.summary-text{
  padding-bottom: 8px;
  line-height: 1.5;
}

.apartments{
  background-color: #f4f5f9;
  padding: 4rem
}

.apartments-title{
  font-size: 1.5rem;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}
.apartments-card{
  background-color: #fff;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
}
.apartments-card_title{
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
}
.apartments-card_prop{
  color: #a9afb6;
  line-height: 1.38;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}
.apartments-card_btn{
  margin-top: 2rem;
  border-radius: 2px;
  background-color: #000000;
  border: none;
  color: #fff;
  padding: 12px 2.5rem
}

.guide{
  background-color: #3e4247;
  padding: 4rem 0 12rem;
}

.guide-img{
  width: 100%
}

.guide-place{
  font-family: 'Philosopher', sans-serif;
  font-size: 1.5rem;
  color: #a9afb6;
  font-weight: bold;
  padding-top: 7rem;

}

.guide-title{
  font-family: 'Philosopher', sans-serif;
  font-size: 3rem;
  color: #fff;
  line-height: 1.25;
  padding: 3rem 0;
}

.guide-show{
  color: #00779a;
}

.map-wrap{
  background-color: #fff;
  padding-bottom: 2rem;
}
.map{
  margin-top: -8rem;
  box-shadow: 4px 2px 4px rgba(2,2,2,.2);
  width: 100%;
}
.map-result{
  margin-top: -8rem;
  background-color: #fff;
  height: 306px;
  box-shadow: 4px 2px 4px rgba(2,2,2,.2);
}

.map-result_title{
  font-weight: 500;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  line-height: 1.4;
}

.map-result_prop{
   color: #a9afb6;
   padding-top: .5rem;
   padding-bottom: 1.5rem;
   border-bottom: 1px solid #e0e0e1;
   padding-left: 1.5rem;
   line-height: 1.4;
}
.map-result_prop:last-child{
  border-bottom: none;
}