body, html {
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

:root {
  --charcoal-grey: #3e4247;
}

body {
  min-width: 320px;
  background: #eaebf0 url(i/pattern.png) repeat;;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  color: var(--charcoal-grey);
}


h1, h2, h3, h4, p {
  margin: 0;
}
